/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/sen');
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
}

:root {
  --border-radius: 25px;
  --border-radius-small: 10px;
  --primary-color: #ea1d2c;
  --secondary-color: #717171;
  --background-color: #ffffff;
  --container-background: #eeeeee;
  --font-light: #ffffff;
  --font-dark: #424242;
  --shadow: 0 0.5rem 0.5rem #cccccc;
}
